body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #333333;
  }
  
  #navbar {
    width: 150px;
    background-color: #333333;
    color: white;
    padding: 20px;
    
  }
  
  #feed {
    flex-grow: 1;
    width: calc(100% - 200px);
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
  }
  
  #title, #founder, #product, #tools, #client,#recorded-calls {
    width: 90%; /* Set width to 100% */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0; /* Remove any default margin */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
  }

/* Add borders to the table with id "target-client-table" */
.target-client-info {
    border-collapse: collapse;
    width: 75%;
    margin: auto; /* Center the table */
  }
  
  /* Add borders to the table cells within table with id "target-client-table" */
  .target-client-info th, .target-client-info td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  /* Add background color to the table headers within table with id "target-client-table" */
  .target-client-info th {
    background-color: rgb(218, 215, 215);
  }

  .collapse {
    display: none;
    overflow: hidden;
    height: 0px;
  }
  
  .tools-email {
    border: 1px solid black;
    text-align: left;
  }